{% extends "base.html" %}
{% block title %}ADD Jobs{% endblock %}
<style>
  h1{
      margin-top: 5%;
  }
</style>
{% block Addnav %}
<li class="nav-item">
  <a class="nav-link " href="/job-listing">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/post-job">Post</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/view-applicants">View Applicants</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/search-candidate">Search</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/logout">LogOut</a>
</li>
{% endblock %}
{% block content %}
        <h1>Post Job</h1>
        <hr>
        <form  action="" method="POST" enctype = "multipart/form-data">
            <label class="form-label" >Job Title:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                id="position"
                name="position"
                placeholder="Enter Job Position"
                >
            </div>
            <label class="form-label">Remote/On-Site</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                id="mode"
               name="mode"
              placeholder="Enter Job Mode">
            </div>
            <label class="form-label">Budget</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                id="salary"
                name="salary"
                placeholder="Enter Salary">
            </div>
            <label class="form-label">Upload Job Description:</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="jd" name="jd">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" id="submit" name="buto">Post Job</button>
        </form>


{%endblock%}